
@{
    ViewBag.Title = "Login";

  
}
<style>
    .btnLogin{
        background-color: red;
        color: white;
        border: none;
        height: 36px;
        width: 105px;
        border-radius: 2px;
        cursor: pointer;
         
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        display: flex;
        justify-content:center;
        align-items: center;
    }
    .btn-Register {
        background-color: blue;
        color: white;
        border: none;
        height: 36px;
        width: 105px;
        border-radius: 2px;
        cursor: pointer;
        margin: auto;
        text-align: center;


        display: flex;
        justify-content: center;
        align-items: center;
    }
    .thongtin{
        text-align: center;
    }
    .TenDangNhap {
     
        
       
        height: 36px;
        width: 500px;
        border-radius: 2px;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        
    }

    .MatKhau {
        
        height: 36px;
        width: 500px;
        border-radius: 2px;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
</style>







<h2 class="thongtin">LOGIN</h2>
<textarea class="TenDangNhap" placeholder="Input my account"></textarea>
<textarea class="MatKhau" placeholder="Input passwork"></textarea>



<button class="btnLogin">LOGIN</button>

<button class="btn-Register">REGISTER</button>